<div>
    <div>
        <button ng-click="simulatorVM.whatTimeIsIt()">What time is it?</button>
       	<input id="message" ng-keypress="simulatorVM.messageKeypress($event)" ng-model="simulatorVM.simulatorModel.message"></input>
    	<button ng-click="simulatorVM.doMessage()">Play Message!</button>        
    </div>

    <div id="commandsContainer">
        <div>
            <div><button ng-click="simulatorVM.sendCommands()">Send Commands</button></div>
            <div><textarea id="output" type="text" rows="10" cols="25" ng-model="simulatorVM.simulatorModel.commands" show-tail></textarea></div>
            <div><button ng-click="simulatorVM.clearCommands()">Clear Commands</button></div>
        </div>
    </div>
    
    <em-font-creation-controls></em-font-creation-controls>    
</div>