body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#commandsContainer {
    padding: 10px;
    float: left;
}

#strokesContainer {
    padding: 10px;
    float: left;
}

#makeFont {
    padding: 10px;
    float: left;
}

#label {
    display: block;
}

#fontContainer {
    padding: 10px;
    float: left;
}

#drewbotCanvas { 
    background:url(../images/paper.jpg);
    background-position-y: -150px;
    background-position-x: -75px;
    display:block; 
    margin:1em auto; 
    border:1px solid black;
}