<div>
    <div id="fontTestContainer">
        <div id="time">
            <button ng-click="fontCreationControlsVM.sendCurrentTime()">Send time</button>
            <button ng-click="fontCreationControlsVM.simulateCurrentTime()">Simulate time!</button>
        </div>
        <div id="message">
            <input id="message" placeholder="Type characters here and test font." ng-keypress="fontCreationControlsVM.messageKeypress($event)" ng-model="fontCreationControlsVM.fontCreationControlsModel.message"></input>
            <button ng-click="fontCreationControlsVM.sendMessage()">Send Message</button>
            <button ng-click="fontCreationControlsVM.simulateMessage()">Simulate Message!</button>
        </div>
    </div>
    <div id="strokesContainer">
        <div>
            <button ng-click="fontCreationControlsVM.sendStrokes()">Send Strokes</button>
            <button ng-click="fontCreationControlsVM.simulateStrokes()">Simulate Strokes!</button>
        </div>
        <div>
            <textarea id="outputPosition" type="text" rows="10" cols="25" ng-model="fontCreationControlsVM.fontCreationControlsModel.strokes" show-tail></textarea>
        </div>
        <div><button ng-click="fontCreationControlsVM.clearStrokes()">Clear Strokes</button></div>
    </div>
    <div id="makeFont">
        <button ng-click="fontCreationControlsVM.makeFont()">Make Font -></button>
        <label>Recording: <input type="checkbox" ng-model="fontCreationControlsVM.fontCreationControlsModel.isRecording" ng-change="fontCreationControlsVM.recordingClicked()" /></label>
    </div>
    <div id="fontContainer">
        <div>
            <button ng-click="fontCreationControlsVM.sendFont()">Send Font Strokes</button>
            <button ng-click="fontCreationControlsVM.simulateFontStrokes()">Simulate Font Strokes!</button>
        </div>
        <div>
            <textarea id="fontOutput" type="text" rows="10" cols="25" ng-model="fontCreationControlsVM.fontCreationControlsModel.fontStrokes"></textarea>
        </div>
        <div><button ng-click="fontCreationControlsVM.clearFontStrokes()">Clear Font Strokes</button></div>
    </div>
</div>